@model IEnumerable<LmycWeb.Models.Boat>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer

@{
    ViewData["Title"] = _Localizer["Boats Index"];
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <a asp-action="Create">@_Localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @_Localizer[Html.DisplayNameFor(model => model.BoatName)]
            </th>
                <th>
                    @_Localizer[Html.DisplayNameFor(model => model.LengthInFeet)]
                </th>
                <th>
                    @_Localizer[Html.DisplayNameFor(model => model.Make)]
                </th>
                <th>
                    @_Localizer[Html.DisplayNameFor(model => model.Year)]
                </th>
            <th>
                @_Localizer[Html.DisplayNameFor(model => model.User)]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthInFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BoatId">@_Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.BoatId">@_Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.BoatId">@_Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
